<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Join Club</title>
  </head>
  <body>
    <h1><a href="/home">Posts Club</a></h1>
    <h2>Join Club</h2>
    <% if (!isLoggedIn) {%>
      <h4>Please <a href="/home/user/log-in">log in</a> first</h4>
    <%} else {%>
      <h4>Enter the passcode to become a member!</h4>
      <form method="POST" action="">
        <label for="membercode">Passcode:</label>
        <input type="password" id="membercodee" name="membercode" class="membercode" />
        <button>Submit</button>
      </form>
      <% if (errors) {%>
        <ul class="errors">
          <% for (let error of errors) {%>
            <li><%= error.msg %></li>
          <%}%>
        </ul>
        <% } %>
    <%}%>
  </body>
</html>
