<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Join Club</title>
  </head>
  <body>
    <h1>Join Club</h1>
    <% if (!isLoggedIn) {%>
      <h4>Please <a href="/user/log-in">log in</a> first</h4>
    <%} else {%>
      <h4>Enter the passcode to become a member!</h4>
      <form method="POST" action="">
        <label for="membercode">Passcode:</label>
        <input type="password" id="membercodee" name="membercode" class="membercode" />
      </form>
    <%}%>
  </body>
</html>
