body {
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: #00b7ff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.btn {
  text-decoration: none;
}

.log-in {
  margin-left: 20px;
}

.post {
  margin-bottom: 40px;
}

hr {
  opacity: 0.3;
}
